body {
    font-family: sans-serif;
    background-color: black;
    margin-top: 75px;
    color:white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
#info{
    padding:100px;
}

.img-medium {
    height: 200px;
}
 #articles
        {
        color:blue;
        max-width:600px;
        margin: 0 auto;
        padding:90px;
        background:orange;
        }
